

.card {
    width: 80%;
    /* width: 100%; */
    margin: 0 auto;
    box-shadow: none !important;
    marginTop: 6%;
    }
  
  
  .card img {
    max-height: 300px;
    width: 100%;
  }
  
  .card-title {
    font-size: 24px;
    color: black;
  }
  
  .card-text {
    font-size: 16px;
  }
  

@media screen and (max-width: 479px) {
 
      /* Media query for screens with a maximum width of 768px (tablets and smaller) */
     
      .card{
        width: 100%;
      }
      
        .card img {
          max-height: 200px; /* Adjust image size for smaller screens */
        }
        
        .card-title {
          font-size: 20px; /* Adjust font size for smaller screens */
          color: black;
        }
      
        .card-text {
          font-size: 14px; /* Adjust font size for smaller screens */
        }
      .container4{
        width: 100vw;
      }
}